In [7]:
import numpy as np
import numpy.linalg as la
import pandas as pd

In [8]:
df = pd.read_csv('transit-ridership.csv')
df.head()

  Unnamed: 0     July    October December   February       Total
0       FY97  287,136  1,052,714  807,508  1,157,678   9,501,302
1       FY98  289,269  1,142,300  753,231    982,453   8,670,906
2       FY99  281,914  1,055,683  673,696  1,006,772   8,628,101
3       FY00  297,848  1,060,153  650,067  1,091,131   8,800,655
4       FY01  270,213  1,085,119  825,356  1,159,928  10,102,665

In [12]:
df= df.rename(columns={'Unnamed: 0': 'Year'})
df

    Year     July    October   December   February       Total
0   FY97  287,136  1,052,714    807,508  1,157,678   9,501,302
1   FY98  289,269  1,142,300    753,231    982,453   8,670,906
2   FY99  281,914  1,055,683    673,696  1,006,772   8,628,101
3   FY00  297,848  1,060,153    650,067  1,091,131   8,800,655
4   FY01  270,213  1,085,119    825,356  1,159,928  10,102,665
5   FY02  286,552  1,227,976    524,747  1,118,989   9,084,277
6   FY03  311,041  1,169,216    787,201  1,133,363   9,369,218
7   FY04  338,494  1,305,943    813,161  1,154,057  10,435,923
8   FY05  341,083  1,217,625    739,941  1,200,637  10,136,585
9   FY06  289,169  1,135,129    736,504  1,167,974   9,958,497
10  FY07  306,992  1,219,370    663,304  1,007,102   9,464,314
11  FY08  301,446  1,129,080    563,233  1,146,354   9,365,436
12  FY09  365,289  1,178,063    798,794  1,175,703   9,919,993
13  FY10  342,639  1,188,246    777,198  1,246,451  10,134,192
14  FY11  387,210  1,201,806    797,556  1,177,828  10,549,120
15  FY12  401,883  1,254,804    777,617  1,305,142  11,107,631
16  FY13  447,178  1,391,576    887,209  1,374,653  12,028,172
17  FY14  487,363  1,538,309  1,044,064  1,582,330  13,309,332
18  FY15  524,178  1,606,340  1,068,610  1,576,687  13,551,784
19  FY16  503,481  1,478,275    949,030  1,537,540  12,770,520
20  FY17  424,915  1,380,990    857,837  1,251,352  12,099,043
21  FY18  389,398  1,310,380    917,782  1,375,553  11,528,385
22  FY19  415,476  1,375,516    920,718  1,375,560  11,629,163
23  FY20  420,729  1,346,402    873,429  1,331,716   8,967,585
24  FY21  226,004    343,765    214,183    318,071   3,480,360
25  FY22  260,815    822,915    501,741    762,787         NaN