In [1]:
import numpy as np
import numpy.linalg as la
import pandas as pd

In [8]:
df = pd.read_csv('transit-ridership.csv') #First read all the data from the csv file
df= df.rename(columns={'Unnamed: 0': 'Year'}) #Rename the unnamed column title to 'Year'
for i in df.columns: #for each column
    df[i] = df[i].replace(",", "", regex=True) #remove all the commas in between each values
df = df._convert(numeric=True) #convert the elements to numeric values

In [9]:
#Eliminating null values 
#To do so, if we find a null, we are going to replace them with the mean of the column
for i in df.columns:
    if i == 'Year':
        continue #DON'T DO THIS FOR THE YEAR column
    else:
        a = df[i].mean() 
        df[i] = df[i].fillna(a)

df #JUST FOR CHECKING AND LOOKS FOOD

    Year    July  October  December  February        Total
0   FY97  287136  1052714    807508   1157678   9501302.00
1   FY98  289269  1142300    753231    982453   8670906.00
2   FY99  281914  1055683    673696   1006772   8628101.00
3   FY00  297848  1060153    650067   1091131   8800655.00
4   FY01  270213  1085119    825356   1159928  10102665.00
5   FY02  286552  1227976    524747   1118989   9084277.00
6   FY03  311041  1169216    787201   1133363   9369218.00
7   FY04  338494  1305943    813161   1154057  10435923.00
8   FY05  341083  1217625    739941   1200637  10136585.00
9   FY06  289169  1135129    736504   1167974   9958497.00
10  FY07  306992  1219370    663304   1007102   9464314.00
11  FY08  301446  1129080    563233   1146354   9365436.00
12  FY09  365289  1178063    798794   1175703   9919993.00
13  FY10  342639  1188246    777198   1246451  10134192.00
14  FY11  387210  1201806    797556   1177828  10549120.00
15  FY12  401883  1254804    777617   1305142  11107631.00
16  FY13  447178  1391576    887209   1374653  12028172.00
17  FY14  487363  1538309   1044064   1582330  13309332.00
18  FY15  524178  1606340   1068610   1576687  13551784.00
19  FY16  503481  1478275    949030   1537540  12770520.00
20  FY17  424915  1380990    857837   1251352  12099043.00
21  FY18  389398  1310380    917782   1375553  11528385.00
22  FY19  415476  1375516    920718   1375560  11629163.00
23  FY20  420729  1346402    873429   1331716   8967585.00
24  FY21  226004   343765    214183    318071   3480360.00
25  FY22  260815   822915    501741    762787  10183726.36